catboost==1.2
chemml==1.2
dscribe==2.0.1
gin-config==0.5.0                 
giotto-ph==0.2.2                 
giotto-tda==0.6.0 
numpy==1.24.3
optuna==3.2.0
pandas==1.5.3
plotly==5.9.0
progressbar==2.5
progressbar2==4.2.0
rdkit-pypi==2022.9.5
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
shap==0.43.0
sklearn==0.0.post7
matplotlib==3.7.1
matplotlib-inline==0.1.6
tqdm==4.65.0
xarray==2022.11.0
xgboost==1.7.6
